.contact-form__submit {
  display: block;
}

.social__links{
  padding: 0px;
  margin: 5px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
  
}

.social__link{
  
  &-linkedin {
    background-image: url("/assets/img/icon-linkedin.svg");
    background-size: contain;
    margin: 2px;
    width: 24px;
    height: 24px;
    &:hover { 
      border-bottom: none;
      background-image: url("/assets/img/icon-linkedin-hover.svg");
      :root[data-theme="dark"] & {
        background-image: url("/assets/img/icon-linkedin.svg");
      }
    }
    :root[data-theme="dark"] & {
      background-image: url("/assets/img/icon-linkedin-hover.svg");
    }
    
  }
  &-twitter {
    background-image: url("/assets/img/icon-twitter.svg");
    background-size: contain;
    margin: 2px;
    width: 24px;
    height: 24px;
    &:hover { 
      border-bottom: none;
      background-image: url("/assets/img/icon-twitter-hover.svg");
      :root[data-theme="dark"] & {
        background-image: url("/assets/img/icon-twitter.svg");
      }
    }
    :root[data-theme="dark"] & {
      background-image: url("/assets/img/icon-twitter-hover.svg");
    }
    
  }
  &-github {
    background-image: url("/assets/img/icon-github.svg");
    background-size: contain;
    margin: 2px;
    width: 24px;
    height: 24px;
    &:hover { 
      border-bottom: none;
      background-image: url("/assets/img/icon-github-hover.svg");
      :root[data-theme="dark"] & {
        background-image: url("/assets/img/icon-github.svg");
      }  
    }

    :root[data-theme="dark"] & {
      background-image: url("/assets/img/icon-github-hover.svg");
    }
    
  }
  &-academia {
    background-image: url("/assets/img/icon-academia.svg");
    background-size: contain;
    margin: 2px;
    width: 24px;
    height: 24px;
    &:hover { 
      border-bottom: none;
      background-image: url("/assets/img/icon-academia-hover.svg");
      :root[data-theme="dark"] & {
        background-image: url("/assets/img/icon-academia.svg");
      }
    } 
    :root[data-theme="dark"] & {
      background-image: url("/assets/img/icon-academia-hover.svg");
    }
  }
  &-researchgate {
    background-image: url("/assets/img/icon-researchgate.svg");
    background-size: contain;
    margin: 2px;
    width: 24px;
    height: 24px;
    &:hover { 
      border-bottom: none;
      background-image: url("/assets/img/icon-researchgate-hover.svg");
      :root[data-theme="dark"] & {
        background-image: url("/assets/img/icon-researchgate.svg");
      }
    }
    :root[data-theme="dark"] & {
      background-image: url("/assets/img/icon-researchgate-hover.svg");
    } 
    
  }
}



